---
title:視頻雲原生 SDK 文檔
parent: null 
---

<style>
  小時1 { margin-bottom: 0; }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1>{{ site.title }}</h1>

    <!-- <p>{{ site.description }}</p> -->
    <table width="100%" border="0" padding="0" margin="0">
	<tbody>
		<tr>
			<td width="30%">
			<div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6126979334001">&nbsp;</div>
			<script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
			<!--<td width="35%"><img height="61" src="https://solutions.brightcove.com/bcls/prod/ssai-logo.png" /></td>-->
			<td width="70%">
			{{ site.description }} 
			</td>
		</tr>
	</tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">


      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p><a href="{{ section.url }}">查看全部...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>