---
title:問題
description:與 Brightcove Native SDK 相關的問題和問題。
parent: Developer Support 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">主題在{{ page.title }}</h2>
        <ul>
        {% for item in site.data.navigation %} {% if item.name == 'Developer Support' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
                  <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
      </div>
    </section>
  </section>
</article>
<script>
  var h1 = document.querySelector('h1'), path = location.pathname, new_location = path.replace('support', 'developer-support'), message = '<h3>此頁面已移至<a href="https://sdks.support.brightcove.com' + new_location + '">https://sdks.support.brightcove.com'  + 新位置 + '</a> .請更新您的書籤！您將在 5 秒內被重定向。<h3>'; console.log('new_location', new_location); h1.insertAdjacentHTML('afterend', message);重定向（）；函數重定向（）{ var t = window.setTimeout(go_to_new_location, 5000); }函數 go_to_new_location() { window.location.pathname = new_location; }

</script>