---
title:分析
description:了解如何使用適用於 tvOS 的 Brightcove Native SDK 實施分析。
parent: tvOS Development 
---


<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    <section class="bcls-card">
      <div class="card-content">
        <h2 id="Topics_in_this_section">主題在{{ page.title }}</h2>
        <ul>
        {% for item in site.data.navigation %} {% if item.name == 'tvOS Development' %} {% for entry in item.docs %} {% if entry.name == page.title %} {% for doc in entry.docs %}
                  <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %} {% endif %} {% endfor %} {% endif %} {% endfor %}
      </div>
    </section>
  </section>
</article>